<html>
	<head>
		<title> swamper</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesh.css') }}">
	</head>
		<body>
			<div class = navigation_bar>
			<h1> The blog. </h1>
		</div>
 

			{% for user in users: %}
			<div class = 'lyrics'>
				<p><span class = 'title'>{{user.firstname}} {{user.lastname}}</span>
				<br> ({{user.username}}) </p>
	
				{% for post in posts: %}

					{% if post.author_id == user.id %}
					<p><b>{{post.title}}</b>
					<br>{{post.content}}</p>

					{% endif %}

				{% endfor %}
				</div>

			{% endfor %}
		

		</body>
</html>